@charset "UTF-8";

body {
    background: url("../imagens/fundo.jpg") center fixed repeat;
    background-color: rgb(0, 64, 32);
    color: white;
    font-family: Cambria;
}

div#interface {
    background-color: rgba(0, 8, 0, 0.95);
    margin: -8px;
    padding: 20px;
    box-shadow: 0px 0px 10px cyan;
    min-height: 750px;
}

header {
    border-bottom: 1px rgb(0, 32, 16) solid;
    height: 80px;
}

p {
    text-align: justify;
    text-indent: 0px;
}

a {
    text-decoration: none;
    color: aqua;
}

a:hover {
    text-decoration: underline;
    color: aliceblue;
}

h1 {
    font-family: Andalus;
    font-size: 35pt;
    color: cyan;
    text-shadow: 2px 2px 4px white;
    margin-bottom: 20px;
}

h2 {
    font-family: Courier;
    font-size: 20pt;
    color: cyan;
    text-shadow: 2px 2px 4px white;
}

h3 {
    font-family: Georgia;
    font-size: 15pt;
    color: cyan;
    text-shadow: 2px 2px 4px white;
}

h4 {
    font-family: Cambria;
    font-size: 13pt;
    color: cyan;
    text-shadow: 2px 2px 4px white;
}

h5 {
    font-weight: lighter;
}

ol {
    font-family: Andalus;
    text-align: justify;
    text-indent: 5px;
    list-style-position: inside;
}

ol li {
    padding: 3px;
    margin-left: -10px;
}

ul {
    list-style-type: square;
    text-indent: 0px;
    margin-left: 25px;
}

ul li {
    padding: 4px;
    margin-left: -47px;
    
}

footer {
    border-top: 1px rgb(0, 32, 16) solid;
    height: 160px;
}

form {
    width: 600px;
    margin: auto;
}

input, textarea, select {
    font-family: sans-serif;
    font-weight: normal;
    font-size: 11pt;
    color: white;
    background-color: rgba(0, 96, 64, 0.5);
}

input:hover, textarea:hover, select:hover {
    background-color: rgba(0, 80, 40, 0.5);
}

fieldset {
    border-color: rgb(0, 32, 16);
}

fieldset#sexo {
    width: 300px;
}

code {
    color: rgb(208, 255, 255);
}

code.tags, code.simb {
    font-size: 13pt;
}

img {
    max-width: 700px;
    max-height: 350px;
    border: 6px solid rgba(0, 255, 255, 0.7);
    box-shadow: 3px 3px 5px rgba(255, 255, 255, 0.4);
    margin: 5px;
}

img#iPng {
    border: none;
    box-shadow: none;
    margin: 0px;
}

img#fig-ex {
    max-width: 400px;
    max-height: 250px;
    border: none;
    box-shadow: none;
    margin: 0px;
}

figure.foto-leg {
    position: relative;
    border: 8px solid white;
    box-shadow: 1px 1px 4px black;
    max-width: 400px;
    max-height: 250px;
}

figure.foto-leg img {
    width: 100%;
    height: 100%;
}

figure.foto-leg figcaption {
    opacity: 0;
    position: absolute;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 1s;
}

figure.foto-leg:hover figcaption {
    opacity: 1;
}

table {
    border: 1px cyan solid;
    border-spacing: 0px;
}

th {
    border: 1px cyan solid;
    background-color: rgba(0, 16, 0, .8);
    padding: 5px;
}

td {
    border: 1px cyan solid;
    background-color: rgba(16, 32, 16, .6);
    padding: 5px;
}

iframe {
    width: 400px;
    height: 225px;
    border: none;
}

#margem {
    width: 200px;
    height: 100px;
    border: 15px solid;
}

#selBorda {
    margin: 0px 0px;
}